:root{
    --dark : #000;
    --white : #fff;
    --neon-green : rgb(126, 253, 0);
}

.dark_mode{
    background-color: var(--dark);
}

.justify-center{
    justify-content: center !important;
}
.align-center{
    align-items: center !important;
}

.flex-col{
    flex-direction: column !important;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    min-height: 100vh;
}

main{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center ;  */
    min-height: 800px;
    flex-direction: column;
    /* border: 2px solid red; */
}
ul{
    padding-left: 0 !important;
}
ul li {
    display: inline-block;
    font-size: 35px;
    line-height: 1;
}

.O {
    color: rgb(0, 225, 225);
    text-shadow: 0 0 30px rgb(0, 225, 225), 0 0 30px rgb(0, 225, 225);
}

.X {
    color: rgb(255, 0, 0);
    text-shadow: 0 0 30px rgb(255, 0, 0), 0 0 30px rgb(255, 0, 0);
}
.box{
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box h1 {
    color: #111;
    font-size: 4em;
}

.box h1 span {
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 2.5s linear;
    animation-iteration-count: infinite;
}

h1 span:nth-child(1) {
    animation-delay: 0.25s;
}

h1 span:nth-child(2) {
    animation-delay: 0.5s;
}

h1 span:nth-child(3) {
    animation-delay: 0.75s;
}

h1 span:nth-child(4) {
    animation-delay: 1s;
}

h1 span:nth-child(5) {
    animation-delay: 1.25s;
}

h1 span:nth-child(6) {
    animation-delay: 1.5s;
}

h1 span:nth-child(7) {
    animation-delay: 1.75s;
}

h1 span:nth-child(8) {
    animation-delay: 2s;
}

h1 span:nth-child(9) {
    animation-delay: 2.25s;
}

@keyframes animate {

    0%,
    100% {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
            0 0 20px #00b3ff,
            0 0 40px #00b3ff,
            0 0 80px #00b3ff,
            0 0 120px #00b3ff,
            0 0 200px #00b3ff,
            0 0 300px #00b3ff,
            0 0 400px #00b3ff;
    }

    5%,
    95% {
        color: #111;
        filter: blur(0px);
        text-shadow: none;
    }
}

.bg {
    opacity: 0;
    animation: fadein 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes fadein {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

.menu {
    position: relative;
    width: 100%;
    padding: 25px 0;
    border: 4px solid rgb(126, 253, 0);
    box-shadow: 0px 0px 10px rgb(126, 253, 0), 0px 0px 10px rgb(126, 253, 0);
}
.menu h1 {
    text-align: center;
}

.w3-btn {
    padding: 0;
    padding-top: 10px;
    height: 80px;
    font-size: 2em;
    border: 4px solid rgb(126, 253, 0);
    width: 300px;
    outline: none;
}
.options{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.options a{
    margin: 10px 0;
    transition: 0.2s;

}
.options a:hover{
    background-color:rgb(126, 253, 0)  !important;
    transition: 0.2s;
    transform: scale(1.05);
}
input[type="radio"]
{
    position: absolute;
    content: ''; 
    -webkit-appearance : none;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}
input[type="radio"]:checked
{
    outline: none;
}
input[type="radio"]::before
{
    content: '';
    background: transparent;
    position: absolute;
    margin-top: -16px;
    margin-left: -16px;
    border: 4px solid #00b5cc;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    visibility: hidden;
}

/* Playgrid */
#playGrid{
    position: relative !important;
    margin: 0;
    padding: 0;
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
#winnerCanvas{
    position: absolute;
    height: 700px;
    width: 100%;
    z-index: -1;
    /* background: lightblue; */
}
.br-top{
    border-top: 0 !important;
}
.br-left{
    border-left: 0 !important;
}
.br-right{
    border-right: 0 !important;
}
.br-bottom{
    border-bottom: 0 !important;
}
.cell{
    position: relative;
    width: 100% !important;
    border: 1px solid var(--neon-green);
    cursor: pointer;
    /* box-shadow: 0px 0px 10px var(--neon-green), 0px 0px 10px var(--neon-green); */
}   
.cell img{
    height: 80% !important;
    position: absolute;
    z-index: 1;
}
/* Playgrid */

#counter{
    position: absolute;
    right: 0;
    top: 0;
}
.winCountBox{
    font-size: 25px;
    margin: 10px 25px;    

}
.winCountBox:first-child{
    color: #00b3ff;
    text-align: right;
}
.winCountBox:last-child{
    color: red;
}
#divider{
    font-size: 55px;
}

#winningStrokeHorizontal,#winningStrokeVertical{
    position: absolute;
    background: #fff;
    animation-duration: 1s;
    visibility: hidden;
    z-index: 2;
}
#winningStrokeHorizontal{
    height: 8px;
    width: 100%;
    top: 0px;
}
#winningStrokeVertical{
    height: 100%;
    width: 8px;
    top: 0px;
}
.horizontalAnimation{
    animation-name: winningStrokeHorizontal;
}
.verticalAnimation{
    animation-name: winningStrokeVertical;
}

/* Winning Stroke ANimation */
@keyframes winningStrokeHorizontal {
    from {width: 0;}
    to {width: 100%;}
  }

@keyframes winningStrokeVertical {
    from {height: 0;}
    to {height: 100%;}
}
/* Winning Stroke ANimation */

@media screen and (max-width : 800px){
    .box{
        display: none;
    }
    main{
        transform: scale(1.5) !important;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #playGrid{
        position: relative !important;
        /* border: 2px solid red; */
        width: 90%;
        height: 500px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .cell img{
        width: 80%;
        position: absolute;
    }
}